{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
    <div class="row mt-3 border" style="background-color: white; padding: 1vw">
        <button class="s-button r-blue" onclick="window.location.href = '/post'">Добавить новый пост</button>
        <button class="s-button r-pink" onclick="window.location.href = '/fav_posts'">Перейти в избранное</button>
            {% if current_user.is_admin %}
                <button class="s-button r-green" onclick="window.location.href = '/sug_posts'">Перейти в предложенные записи</button>
            {% endif %}

    </div>
{% endif %}
{% include "base_posts.html" %}
{% endblock %}
