{% extends "base.html" %}

{% block content %}
<div class="card mt-3" style="width: 100%; height: 80%;">
    <div class="card-body" style="height: 80%;">
        <h5 class="card-title">Вход</h5>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.nickname.label }}<br>
                {{ form.nickname(class="form-control") }}<br>
                {% for error in form.nickname.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(class="form-control", type="password") }}<br>
                {% for error in form.password.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
                {% endfor %}
            </p>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p>{{ form.submit(type="submit", class="s-button blue") }}</p>
            <div>{{ message }}</div>
        </form>
    </div>
</div>
{% endblock %}
