{% extends "base.html" %}

{% block content %}
<div class="row mt-3 border" style="background-color: white; padding: 1vw">
        {{ form.description(class="form-control post-info", id="description") }}
    {% if current_user.is_admin %}
        {{ form.datetime(data_timepicker="true", class="datepicker-here post_info", id="datetime") }}
    {% endif %}<br>
        {{ form.image(id="image") }}
    <br>
    <button class="s-button r-pink" onclick="">Предложить новость</button>
</div>
{% endblock %}
