{% extends "base.html" %}

{% block content %}
<div class="card mt-3" style="width: 100%; height: 80%;">
    <div class="card-body" style="height: 80%;">
        <h5 class="card-title">Регистрация</h5>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p id="login-div">
                {{ form.nickname.label }}<br>
                {{ form.nickname(class="form-control", id="login") }}<br>
                {% for error in form.nickname.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
                {% endfor %}
            </p>
            <p id="password-div">
                {{ form.password.label }}<br>
                {{ form.password(class="form-control", type="password", id="password") }}<br>
                {% for error in form.password.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
                {% endfor %}
            </p>
            <p>
                {{ form.password_again.label }}<br>
                {{ form.password_again(class="form-control", type="password", id="password_a") }}<br>
                {% for error in form.password_again.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
                {% endfor %}
            </p>
            {% if submit_button %}
                <p>{{ form.submit(type="submit", class="s-button") }}</p>
            </form>
        {% else %}
                <p class="s-button blue" onclick="vk_login()" style="text-align: center">Привязать страницу ВКонтакте</p>
                </form>
        {% endif %}
    </div>
</div>
<script src="../static/js/registration.js"></script>
{% endblock %}
