{% extends "base.html" %}

{% block content %}
<div class="card mt-3" style="width: 100%; height: 80%;">
    <div class="card-body" style="height: 80%;">
        <h5 class="card-title">Регистрация</h5>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p id="login-div">
                {{ form.nickname.label }}<br>
                {{ form.nickname(class="form-control", id="login") }}<br>
            </p>
                <p class="s-button pink" onclick="vk_login()" style="text-align: center">Зарегистрироваться</p>
        </form>
    </div>
</div>
<script src="../static/js/registration.js"></script>
{% endblock %}
